@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Inter", sans-serif;
    font-weight:400;
    font-style: normal;
    background-color: black;
    max-width: 1440px;
    margin: 0 auto;
}
/* global css start --------------------------------------------------------*/
:root{
    --text1:#FFFFFF;
    --text2:rgba(239, 237, 232, 0.65);
    --mainClr:#E6533C;
}
.twhite{
    color: white;
}

.content{
    width: 90%;
    margin:0 auto;
}

.h1{
    font-size: 72px;
    font-weight: 700;
    color: white;
    line-height: 75px;
}
h2{
    font-size: 48px;
    font-weight: 700;
    color: white;
}
h3{
    font-size:28px;
    font-size: 600;
    color: white;
}
.p1{
    color: var(--text2);
    font-size: 16px;
    font-weight: 200;
    line-height: 25px;
}
.p2{
    color: var(--text2);
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
}
.active{
    background-color: #E6533C;
    color: white;
}
button:hover{cursor: pointer;}
.btn{
    background-color: #E6533C;
    color: white;
    border: 1px solid #E6533C;
    padding: 13px 22px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 42px;
}
.btnTrans{
    background-color: transparent;
    color: white;
    border: 1px solid  white;
    padding: 13px 22px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 42px;
}
.title{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}
.py{
    padding:80px 0px;
}
.mt{
    margin-top:80px;
}
/* header style start -----------------------------------------------------*/
header#header {
    width: 100%;
    /* height: 100vh; */
    background: linear-gradient(to top, #111111, #77777740);
}
.logo{
    color:var(--mainClr);
    font-size: 35px;
    font-weight: bolder;
    font-style: italic;
}
.headerWrap {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    align-items: center;
}
.navItem {
    display: flex;
    gap: 20px;
    border: 1px solid #ffffff47;
    padding: 13px 5px;
    border-radius: 40px;
}
.navItem li {
    list-style: none;
}

.navItem li a {text-decoration: none;color: white;font-size: 18px;padding: 9px 13px;border-radius: 19px;color: white;}
.navItem li a:hover{
    background: #E6533C;
    color: white;
}
.navIcon{
    color: white;
    display: none;
}
/* ..........----------------------------------- */


.heroWrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.heroCont {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.heroCont span {
    font-style: italic;
    font-weight: 100;
    font-family: cursive;
}
.heroBtn {
    display: flex;
    gap: 18px;
}

.heroImage {
    flex: 1;
    display: flex;
    justify-content:end;
    height: 100%;
    position: relative;
}

.heroImage img {
    height: 100%;
    position: relative;
}
.haroImgCard1 {
    position: absolute;
}

.haroImgCard1 {
    position: absolute;
    left: 171px;
    bottom: 92px;
    background: rgba(48, 48, 48, 0.54);
    text-align: center;
    padding: 9px 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.heroCardInfo h6 {
    font-size: 20px;
    color: white;
    text-align: center;
}

.cercyl {
    background: #e6533c;
    padding: 17px;
    border-radius: 50%;
}

.haroImgCard2 {
    position: absolute;
    right: 0px;
    top: 160px;
    background: rgba(48, 48, 48, 0.54);
    text-align: center;
    padding: 9px 12px;
    border-radius: 12px;
}

.haroImgCard2 h5{
    font-size: 25px;
    color: white;
}

/* habit section start  */
.habitWrap {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    gap: 50px;
}


.singleHabitBox {
    display: flex;
    gap: 14px;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    text-align: center;
}

.singleHabitBox img {
    border-radius: 50%;
}

.singleHabitBox h6 {
    font-size: 17px;
    color: white;
}


/* run section start */
.runWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222222;
    padding: 60px 60px;
    border-radius: 30px;
}

.runCont {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 21px;
}

.runImg {
    width: 35%;
}

.runImg img {
    width: 100%;
    border-radius: 30px;
}

/* training section-----------------*/
.row {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* gap: 10px; */
    /* height: 195px; */
    height: 200px;
}

.row > div {
    width: 100%;
    height: 100%;
}

.row  img {
    width: 100%;
    height: 200px;
    /* height: 100%; */
}
.col2 {
    grid-column: span 2;
}
.col2 {
    position: relative;
}
/* -----1---- */
.col1 {
    position: relative;
}

.col1 > div {
    position: absolute;
    content: "";
    left: 0px;
    top: 0;
    background: rgba(6, 255, 210, 0.5);
    height: 100%;
    width: 100%;
}
.col1 > div h5 {
    color: white;
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 18px;
}
/* -----2---- */

.col2 > div {
    position: absolute;
    content: "";
    left: 0px;
    top: 0;
    background: rgba(255, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    
}
.col2 > div h5 {
    color: white;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 18px;
}
/* -----3---- */
.col3 {
    position: relative;
}

.col3 > div {
    position: absolute;
    content: "";
    left: 0px;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}
.col3 > div h5 {
    color: white;
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 18px;
}

.row2 {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    height: 200px;
}

.row2 > div {
    width: 100%;
    height: 200px;
}

.row2 img {
    width: 100%;
    height: 200px;
}

.row2 .col1 {
    grid-column: span 4;
}
.row2 .col1 img{
    background-color: rgba(0, 0, 0, 0.5);
}

.row2 .col2 {
    grid-column: span 2;
}
.row2 .col2 img{
    background-color: rgba(66, 255, 0, 0.3);
}

.row2 .col3 {
    grid-column: span 3;
}
.row2 .col3 img{
    background-color: rgba(0, 71, 255, 0.3);
}
.trainTitle {
    text-align: left;
    width: 60%;
    margin: 0 auto;
    margin-top: 80px;
}
/* calculate section start */
#calculate{
    background-color: rgba(34, 34, 34, 1);
}
.calcWrap {
    display: flex;
}

.LboxClac {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
table.table {
    width: 70%;
    /* margin: auto; */
}
table td,th {
    padding: 12px;
    text-align: left;
    color: white;
}
.rBoxClack {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
}

.rBoxClack p {
    padding: 15px 0px;
}
form.calcForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}


form.calcForm >div input {
    padding-right: none;
    width: 50%;
    flex: 1;
    color: white;
    /* padding: 13px 0px 13px 0px; */
    font-size: 15px;
    font-weight: 500;
    padding: 13px;
    border: none;
    background: #ffffff1f;
    border-radius: 8px;

}
form.calcForm >div select {
    width: 50%;
    padding: 13px;
    font-size: 15px;
    font-weight: 500;
    flex: 1;
    border: none;
    background: #ffffff1f;
    color: #ffffff40;
    border-radius: 8px;
}
form.calcForm >div {
    display: flex;
    gap: 10px;
}

.teamWrap {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.teamWrap>div img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.teamWrap div {width: 100%;}

.teamWrap > div {
    position: relative;
}

.teamInfo {
    position: absolute;
    left: 28px;
    bottom: 26px;
    color: white;
}

.teamInfo h6 {
    font-size: 22px;
}
.opacity {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: #0000003d;
    z-index: 2;
    width: 100%;
    height: 100%;
}

/* footer section */
footer{
    background-color: rgba(255, 255, 255, 0.1);
}
.footerWtrap {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: flex-end;
}
.footerDesc {
    grid-column: span 2;
    justify-self: flex-start;
}
.footerWtrap > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footerWtrap > div li {
    list-style: none;
    line-height: 30px;
}

.footerWtrap > div li a {
    text-decoration: none;
    color: #ffffffa1;
}
.bb {
    border-bottom: 1px solid #ffffff73;
}
footer > p {
    color: #ababab;
    text-align: center;
    padding: 40px 0px;
    font-size: 22px;
}
.fLogo {
    font-size: 48px;
}
/* responsive media section ----------------------------------*/

/* mobile version start */

@media only screen and (max-width:577px) {
    .content{
        width:90%;
    }
    .logo {
        font-size: 26px;
    }

    .h1 {
        font-size: 48px;
        line-height: 54px;
    }
    h2 {
        font-size: 30px;
    }
    .p1 {
        font-size: 13px;
    }
    .btn {
        font-size: 13px;

    }

    /* glopal css end ------------*/

    /* header style start --------------------*/
    .navItem{
        display:none;
        
    }
    .navIcon{
        display: block;
        cursor: pointer;
    }
    .heroWrap {

        flex-direction: column;
    }
    .btnTrans{
        font-size: 13px;
    }
    .haroImgCard1 {
        left: 0px;
    }
    .heroImage {
        margin-top: 20px;
    }

    /* habit section start */
    .habitWrap {
        grid-template-columns: repeat(1,1fr);
     
    }
    /* run seciton start */
    .runWrap {
        flex-direction: column;
        gap: 48px;
    }
    .runCont {
        width: 100%;}
        .runImg {
            width: 100%;
        }
    /* trainsing section start */
    .row{
        grid-template-columns: repeat(1,1fr);
    }
    .row > div{
        height: 100%;
    }
    .row2 > div{
        height: 100%;
    }
    .col1{
        grid-column: auto;
    }
    .col2{
        grid-column: auto;
    }
    .col3{
        grid-column: auto;
    }
    .row{
        height: auto;
    }
    .row2{
        grid-template-columns: repeat(1,1fr);
        height: auto;
    }
    .trainTitle {
  
        width: 100%;
  
    }
    /* calculator section  */
    .calcWrap {
        flex-direction: column;
        gap: 80px;
    }
    .LboxClac {
        width: 100%;
    }
    table.table {
        width: 100%;
        /* margin: auto; */
    }
    .rBoxClack {
        width: 100%;

    }
    .teamWrap {
        grid-template-columns: repeat(1,1fr);   
        justify-items:flex-start
    }
    /* footer */
    .footerWtrap {
        
grid-template-columns: repeat(1,1fr);
        
justify-items: flex-start;
        
gap: 25px;
    }
    .footerDesc {
        grid-column: span 1;
        justify-self: flex-start;
    }
}
